<!DOCTYPE html>
<html>
<head>
    <title>fis3</title>
    <link rel="stylesheet" type="text/css" data-loader href="/public/static/css/common_aio.css">
    <!--STYLE_PLACEHOLDER-->
    <link rel="stylesheet" type="text/css" href="../public/static/index/index.css">
</head>
<body>
    <div contenteditable="true"></div>
    <div class="div">div:
        <span>span</span>
        <p>p</p>
        <button>按钮</button>
        <!--RESOURCEMAP_PLACEHOLDER-->
    </div>
</body>


    <script type="text/javascript" data-loader src='/public/static/js/common_aio.js'></script>

    <script type="text/javascript">
        require('../public/static/index/index.js');
    </script>
    <!--SCRIPT_PLACEHOLDER-->
</html>